@model LoginModel
@{
    Layout = "_LayoutLogin";
    ViewData["Title"] = "Login";

}

<div class="text-center mb-5">
    <h1>Bem-Vindo!</h1>
</div>
<div class ="text-center mb-5">
    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert">X</button>
            @TempData["MensagemErro"]
        </div>
    }

</div>

<div class="text-center d-grid gap-2 d-md-flex justify-content-md-center">
    
    <form asp-controller="Login" asp-action="Entrar" method="post">
        <div class="mb-3">
            <label for="login">Login</label>
            <input type="text" class="form-control" id="login" asp-for="Login"/>
            @Html.ValidationMessageFor(x=> x.Login)

        </div>
        <div class="mb-3">
            <label for="senha">Senha</label>
            <input type="password" class="form-control" id="senha" asp-for="Senha"/>
            @Html.ValidationMessageFor(x => x.Senha)

        </div>
        <button type="submit" class="btn btn-primary">LOGIN</button>

    </form>   
    
    
 </div>