@{
    Layout = "_LayoutLogin";
    ViewData["Title"] = "Acesso Negado";
}

<p>Acesso Negado, seu perfil não possui permissão para esta página.</p>
<a asp-controller="Home" asp-action="Index">Voltar para Home</a>